body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swal-button {
  background-color: #fdaaaa;
}
.swal-button:not([disabled]):hover {
  background-color: #fdaaaa;
}

.swal-button:active {
  background-color: #fc9c9c;
}

.modal_input {
  width: 70%;
  outline: none;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: 0.3s; 
}

.modal_input:focus {
  background-color: transparent;
  border-bottom: 2px solid #fdaaaa;
}